In [1]:
import numpy as np
import pandas as pd
from missingpy import MissForest
from sklearn.impute import KNNImputer, SimpleImputer

# Reading Dataset

In [2]:
# Read the dataset
raw = pd.read_csv("data/nyc_taxi.csv",low_memory=False)
raw['timestamp'] = pd.to_datetime(raw['timestamp'])

# Preview raw dataset
raw

                timestamp  value
0     2014-07-01 00:00:00  10844
1     2014-07-01 00:30:00   8127
2     2014-07-01 01:00:00   6210
3     2014-07-01 01:30:00   4656
4     2014-07-01 02:00:00   3820
...                   ...    ...
10315 2015-01-31 21:30:00  24670
10316 2015-01-31 22:00:00  25721
10317 2015-01-31 22:30:00  27309
10318 2015-01-31 23:00:00  26591
10319 2015-01-31 23:30:00  26288

[10320 rows x 2 columns]

In [3]:
# The times of anomaly events (Ground Truth)
anomaly_points = [
        [
            "2014-10-30 15:30:00.000000",
            "2014-11-03 22:30:00.000000"
        ],
        [
            "2014-11-25 12:00:00.000000",
            "2014-11-29 19:00:00.000000"
        ],
        [
            "2014-12-23 11:30:00.000000",
            "2014-12-27 18:30:00.000000"
        ],
        [
            "2014-12-29 21:30:00.000000",
            "2015-01-03 04:30:00.000000"
        ],
        [
            "2015-01-24 20:30:00.000000",
            "2015-01-29 03:30:00.000000"
        ]
]

# Labeling: if anomaly then 1 else 0
raw['anomaly'] = 0  # Set default values
for start, end in anomaly_points:
    raw.loc[((raw['timestamp'] >= start) & (raw['timestamp'] <= end)), 'anomaly'] = 1

# Preview labeled raw dataset
raw

                timestamp  value  anomaly
0     2014-07-01 00:00:00  10844        0
1     2014-07-01 00:30:00   8127        0
2     2014-07-01 01:00:00   6210        0
3     2014-07-01 01:30:00   4656        0
4     2014-07-01 02:00:00   3820        0
...                   ...    ...      ...
10315 2015-01-31 21:30:00  24670        0
10316 2015-01-31 22:00:00  25721        0
10317 2015-01-31 22:30:00  27309        0
10318 2015-01-31 23:00:00  26591        0
10319 2015-01-31 23:30:00  26288        0

[10320 rows x 3 columns]

In [4]:
raw['anomaly'].value_counts()

0    9285
1    1035
Name: anomaly, dtype: int64

# Preprocessing

In [5]:
# Convert the timestamp
df = pd.DataFrame()
df['year'] = raw['timestamp'].dt.year
df['month'] = raw['timestamp'].dt.month
df['day'] = raw['timestamp'].dt.day
df['hour'] = raw['timestamp'].dt.hour
df['value'] = raw['value']
df['anomaly'] = raw['anomaly']

# delete unused dataframe
del raw

# Preview dataset
df

       year  month  day  hour  value  anomaly
0      2014      7    1     0  10844        0
1      2014      7    1     0   8127        0
2      2014      7    1     1   6210        0
3      2014      7    1     1   4656        0
4      2014      7    1     2   3820        0
...     ...    ...  ...   ...    ...      ...
10315  2015      1   31    21  24670        0
10316  2015      1   31    22  25721        0
10317  2015      1   31    22  27309        0
10318  2015      1   31    23  26591        0
10319  2015      1   31    23  26288        0

[10320 rows x 6 columns]

In [6]:
# Calculate the number of rows representing 80% of the DataFrame for training
num_rows = int(0.8 * len(df))

# Get the first 80% of the DataFrame
df_train = df[:num_rows]

# Get the remaining 20% of the DataFrame
df_test = df[num_rows:]

# delete unused dataframe
del df

In [7]:
df_train['anomaly'].value_counts()

0    7842
1     414
Name: anomaly, dtype: int64

In [8]:
df_test['anomaly'].value_counts()

0    1443
1     621
Name: anomaly, dtype: int64

In [9]:
# (1) Get normal training data, (2) Drop 'anomaly' column, and (3) convert it to float
X_train_normal = df_train[df_train['anomaly'] == 0].drop(columns=['anomaly']).to_numpy(dtype=float)
# Copy the 'value' column of normal training data
y_train_normal = X_train_normal[:, -1].copy()

# (1) Get anomaly training data, (2) Drop 'anomaly' column, and (3) convert it to float
X_train_anomaly = df_train[df_train['anomaly'] == 1].drop(columns=['anomaly']).to_numpy(dtype=float)
# Copy the 'value' column of normal anomaly data
y_train_anomaly = X_train_anomaly[:, -1].copy()

In [10]:
df_train[df_train['anomaly'] == 0].drop(columns=['anomaly'])

      year  month  day  hour  value
0     2014      7    1     0  10844
1     2014      7    1     0   8127
2     2014      7    1     1   6210
3     2014      7    1     1   4656
4     2014      7    1     2   3820
...    ...    ...  ...   ...    ...
8251  2014     12   19    21  26403
8252  2014     12   19    22  26905
8253  2014     12   19    22  26723
8254  2014     12   19    23  25807
8255  2014     12   19    23  26432

[7842 rows x 5 columns]

In [11]:
X_train_normal

array([[2.0140e+03, 7.0000e+00, 1.0000e+00, 0.0000e+00, 1.0844e+04],
       [2.0140e+03, 7.0000e+00, 1.0000e+00, 0.0000e+00, 8.1270e+03],
       [2.0140e+03, 7.0000e+00, 1.0000e+00, 1.0000e+00, 6.2100e+03],
       ...,
       [2.0140e+03, 1.2000e+01, 1.9000e+01, 2.2000e+01, 2.6723e+04],
       [2.0140e+03, 1.2000e+01, 1.9000e+01, 2.3000e+01, 2.5807e+04],
       [2.0140e+03, 1.2000e+01, 1.9000e+01, 2.3000e+01, 2.6432e+04]])

In [12]:
y_train_normal

array([10844.,  8127.,  6210., ..., 26723., 25807., 26432.])

# Finding Threshold

In [13]:
# Calculate the number of rows to select (10% of the total rows)
num_rows_to_select = int(0.1 * X_train_normal.shape[0])

# Randomly select row indices to change
random_indices = np.random.choice(X_train_normal.shape[0], size=num_rows_to_select, replace=False)

# Change the value column to NaN for the selected rows
X_train_normal[random_indices, -1] = np.nan

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan])

In [15]:
imputer = KNNImputer(n_neighbors=4, weights="uniform")
X_train_imputation = imputer.fit_transform(X_train_normal)

In [23]:
y_train_normal[random_indices]

array([16699., 14612., 24891., 19835., 11392., 13635., 26429.,  4896.,
       17922., 17500., 19812., 24822., 25079.,  2507., 18847., 23444.,
       18250., 18988., 19815., 12187., 23287., 14136.,  2370., 19533.,
       16312., 18835., 17477.,  2726., 18552., 16973., 15872., 12747.,
        9502., 18499., 25036., 23869., 18698., 14421., 23849.,  5653.,
       23913., 22112.,  2346.,  4566., 19045., 15239., 14990.,  4420.,
       26320.,  2268., 15796., 17264., 16292., 15210., 24630., 14548.,
       20534., 17405., 19103.,  2671., 15853., 17563.,  4347., 17287.,
       19871., 18639.,  4622.,  3879., 16106., 23098.,  2515., 16976.,
       12168., 16210., 16707., 13462., 19626., 17732., 17325., 16857.,
       18341.,  7009., 16460., 16558., 15673., 19501.,  5478.,  2583.,
       15675., 16979., 14453., 14755., 17801., 25251., 23408., 19221.,
       21926., 18462., 22624., 19032.,  3093., 15986., 16929., 17302.,
       17534., 19372.,  5087., 26225., 25209., 19243., 18680., 12022.,
       18565., 12115., 21278., 19998., 22141.,  3332.,  3658., 17984.,
       22814.,  8847., 11929., 21345., 19766., 16473., 10485., 18334.,
       23099.,  9956., 17590., 17608., 24605.,  2755., 11809., 17601.,
        3270.,  6261.,  2850., 14355., 22014., 18641.,  2267., 17053.,
       15539.,  2994.,  6061.,  4813., 18183.,  3663., 18684., 15924.,
       17823., 20564.,  4107., 14475., 15577., 19969., 14395., 16790.,
       18350.,  2407.,  3276., 16671., 18287.,  1896., 11876.,  2981.,
       14776., 11243.,  7725., 13365.,  2491., 15293., 19364.,  4656.,
       22849., 14983., 26528., 22181., 22746., 14923., 19315., 16332.,
       26301.,  3479.,  6472., 18601.,  2960.,  4313., 23040., 21563.,
       23119.,  4799., 26403., 15798.,  5649., 14966.,  3279., 20109.,
        4058.,  4336., 17223., 13766., 21308., 18261., 22341.,  3122.,
       20123., 20964.,  3386., 18272., 22947., 18697., 25012., 11330.,
       20945., 17779., 24699.,  3597.,  1932., 18645., 11686., 17885.,
       25459., 16708., 21455., 17230.,  3757., 26899., 22125., 16721.,
        2022., 20533.,  3787.,  3427.,  6360., 17759.,  9344.,  4485.,
       15734., 16768., 12185., 21057., 20722., 22657.,  7163., 15353.,
       18798.,  5741., 21583., 12574., 22533.,  3833., 10984., 19548.,
       12921., 23889., 18762.,  4159., 22401., 17137., 16903., 16052.,
       16675., 17408., 22197., 26156.,  1994., 17751., 20480.,  8999.,
       15168.,  9339., 16180., 15524., 17622., 20255., 12313., 10636.,
       18321.,  7062., 18299., 16635., 20489., 21841., 18157.,  6155.,
       15292., 12095.,  4383., 16412., 18775.,  2479.,  4693., 23237.,
       23634., 15699.,  7528., 13475., 10905., 19265., 11863.,  2318.,
        2237., 18127., 18268., 17482.,  3170., 13290., 22346., 17096.,
        5251., 22626., 18396., 18485.,  3812., 22079.,  7121., 21053.,
       20700., 24028., 15442., 22552., 22357., 11830., 17848., 16037.,
       14005., 13441., 14435., 24187.,  2114., 21655., 17467.,  5355.,
       19060., 19974., 18123., 15864.,  3683., 15906., 18627., 25301.,
       19536., 16006., 17604., 16239., 12556., 15842.,  7200., 18922.,
       16492., 16797., 15641., 14962., 14725.,  7967., 17040., 22726.,
        6534., 16938., 20671., 13473.,  6210.,  8215., 18580., 15525.,
       18259., 25496.,  8942., 16617.,  4351., 24112., 17521.,  2138.,
       20320., 15993., 16296., 17986., 18852., 23658., 20987., 17742.,
       12826., 19310., 19621., 22716.,  7069.,  5583., 15459., 15918.,
        2088.,  3853., 22417.,  7167., 19016.,  2728., 26439., 23164.,
       15606., 21126., 16850., 15367., 19197., 22917., 19733., 21118.,
        5121., 19295., 23224., 19585., 19947., 18067.,  9136.,  3089.,
       17343., 19175., 18782., 21918., 24980., 17673., 17989., 14836.,
       18057., 17313., 16635., 19708., 24390., 18494., 24197., 18913.,
       15507., 13868., 17122., 18446., 17883., 25553., 20853., 14905.,
       10910.,  4138., 16507., 16319., 18418.,  3757.,  3259., 22317.,
       24161., 14615., 18243., 16717., 20015.,  2970., 23401.,  7871.,
       25312., 18120.,  2181., 23655., 16567., 15824., 18355., 19417.,
       21395., 24056., 14953., 19402., 13513., 16671., 16332., 19691.,
        5117., 16879., 23243., 14897.,  8561., 14439., 16817.,  5496.,
       23703.,  2670., 23575., 24122.,  5113., 23633., 26220.,  4211.,
       18818.,  9655.,  6722., 17674., 18256., 22302., 15835., 17035.,
       16714., 11595., 10827., 17334., 24363., 11616., 13538.,  6572.,
        5992.,  3266., 19793., 19081., 17079.,  4424.,  9067.,  4282.,
       17285., 16824.,  3568., 20375., 20066., 19205., 23209., 13469.,
       22712., 17230.,  4122., 18868.,  7885., 21154., 17364., 20607.,
       25544., 26311., 15656.,  4540., 19903., 21534., 25414., 24316.,
       14103., 25949., 21424.,  4761.,  4939.,  4782., 13707.,  3656.,
       11632., 19560., 20289., 16134.,  3470.,  7716., 22569., 10142.,
       16069., 19850.,  6667., 20630., 11585., 18801., 23384., 16508.,
       16825., 18187.,  6632., 22334., 14935., 23021., 23378., 15579.,
        5039., 18380.,  3468., 22860., 18294., 18082., 24035., 16204.,
       15026., 19863., 20299.,  9980., 15188., 15820.,  3933., 19426.,
        4711.,  2878., 21962., 19116., 23879., 21538., 20731.,  2604.,
       18991.,  2423., 17684.,  4531., 21528., 18013.,  2061., 16026.,
       17214., 16250.,  2713., 13461., 17439., 14145., 16128., 11429.,
       25951., 14083., 20665.,  4555., 18604., 24320.,  3658., 21160.,
        8153., 26896.,  4305., 16942., 19906., 17817., 15452., 13252.,
       18885.,  5094., 17350.,  6080.,  4812., 20484.,  3757., 13647.,
        3718., 13613., 19715., 17657., 21263., 19844., 20107., 10468.,
       24686., 26688., 26736.,  5494.,  3238.,  4867., 17967., 19623.,
       16086., 19166., 16219., 20562., 11013., 22875., 10651., 17904.,
       17435.,  4316., 22639., 24289., 16229.,  4417., 17540., 25694.,
       17329., 17464., 16972.,  5451., 18444., 16830., 18555.,  4464.,
        7147.,  4953., 20614., 20502., 16227., 20786., 16559., 11482.,
        6593., 19081., 12721., 12094., 21189.,  4920., 17826., 23111.,
       24590.,  5423., 22758., 18549.,  8127., 24933., 16075.,  9673.,
        2290.,  6900., 16826., 14827., 17685.,  4661., 17264., 19270.,
        3785., 23974., 16793.,  2849.,  3018., 20033., 21778., 20200.,
       16417.,  2313., 22337.,  8512.,  6896.,  4992.,  5823.,  4382.,
       15880., 22684., 23652.,  2174.,  2432.,  7850., 14296., 15698.,
       18329., 18984., 20547., 17089., 23338., 24213., 21546., 16614.,
        3096., 24347., 17378., 12361., 17989., 18557., 15175., 21550.,
       20007., 23955., 16288.,  2698., 26990.,  2532.,  6005.,  8077.,
       18950., 18139., 10255., 17992.,  8009.,  9008., 18663., 17821.,
       15553., 21020., 16240., 21796., 19149., 10532., 14106., 20621.,
       22765., 19188., 23548., 13935., 21481., 15505., 14821., 18019.,
       18918., 17627., 13803., 17485., 22925.,  6009., 18533., 17568.])

In [24]:
X_train_imputation[random_indices, -1]

array([17979.75, 14353.5 , 20502.75, 14909.  ,  6439.75, 14716.  ,
       22852.25,  4602.75, 19018.75, 16387.  , 22534.25, 22802.5 ,
       22562.5 ,  3366.75, 17664.25, 21413.75, 17858.  , 20131.25,
       17608.75, 14020.25, 20858.5 , 12610.75,  2394.5 , 20131.25,
       17130.  , 16570.75, 15620.25,  5080.5 , 17240.5 , 17241.25,
       17020.75, 10911.25,  7934.  , 18081.  , 21107.25, 22720.25,
       16906.25, 16622.  , 20613.  ,  5559.5 , 24017.  , 21059.25,
        3665.  ,  8069.75, 16963.75, 14674.5 , 14862.25,  3858.25,
       24606.  ,  3065.5 , 16791.25, 16700.75, 16284.75, 16028.  ,
       24379.25, 22474.75, 22646.5 , 14978.5 , 19367.  ,  8778.75,
       17847.5 , 21004.5 ,  5154.75, 20076.5 , 18796.75, 19170.75,
       10015.5 ,  6224.25, 16184.  , 22685.25,  5665.  , 17051.5 ,
       15864.  , 15800.  , 17997.25, 14765.  , 19369.  , 16123.75,
       17000.25, 17184.75, 22934.5 , 10521.  , 17382.5 , 16891.75,
       16412.5 , 16926.25,  6010.75,  5505.25, 16538.  , 16946.25,
       15054.5 , 13916.25, 17886.5 , 20537.5 , 21408.5 , 17603.  ,
       19887.5 , 17505.75, 23462.75, 19093.25,  5436.25, 15860.75,
       18475.  , 16334.  , 17744.5 , 17729.25,  4224.25, 24448.75,
       18233.5 , 16120.75, 18353.75, 21316.5 , 14117.75, 12667.75,
       21130.  , 21001.  , 20313.25,  6279.75,  3717.75, 16559.25,
       24259.25, 13323.  ,  6552.5 , 19097.5 , 19391.75, 17523.75,
       14888.5 , 18306.  , 23454.5 ,  5631.25, 16388.5 , 13248.  ,
       22585.75,  2185.5 ,  6003.75, 14062.5 ,  7204.25, 11353.25,
        3175.25, 13877.5 , 20938.5 , 18471.  ,  2673.75, 18043.25,
       16098.  ,  4182.  ,  7274.25,  3680.75, 19716.  ,  4697.75,
       19238.5 , 18533.25, 14080.5 , 17474.  ,  3924.5 ,  8546.  ,
       16804.5 , 19174.75, 14240.25, 17072.5 , 14265.5 ,  3095.  ,
        2971.25, 21101.25, 16486.75,  2916.25, 12596.5 ,  3009.25,
       14765.  ,  5148.25, 13833.75, 12213.  ,  3695.75, 14742.5 ,
       18621.5 ,  7041.75, 21617.25, 13747.75, 24199.  , 20930.75,
       21865.75, 21081.75, 19555.25, 16556.5 , 25822.75,  8433.75,
        7632.75, 17577.5 ,  3383.5 ,  3526.75, 22877.75, 22852.75,
       21482.5 ,  5562.25, 25367.5 , 17220.  ,  4561.  , 10932.  ,
        2950.75, 19824.75,  5042.5 ,  3656.  , 17817.  , 19512.5 ,
       19500.5 , 15476.5 , 24104.5 ,  2754.  , 18364.75, 22131.75,
       10695.  , 15031.5 , 21027.  , 17458.5 , 25088.75,  5634.25,
       21075.75, 17817.  , 23960.5 ,  3386.25,  4416.  , 16318.75,
       11556.5 , 17986.  , 25130.  , 16596.5 , 20660.75, 16921.5 ,
        7020.25, 27644.75, 13549.5 , 17284.75,  5449.75, 18931.5 ,
        7464.5 ,  4867.5 ,  8534.25, 17152.5 , 11613.5 ,  7710.  ,
       15343.5 , 16466.  , 11148.75, 20071.75, 19318.5 , 11212.  ,
       10679.75, 16866.75, 18791.25, 15036.25, 22642.5 , 14830.  ,
       22262.5 ,  4448.75,  4941.  , 19109.5 ,  7504.5 , 23298.  ,
       17790.25,  6316.25, 17026.25, 19100.75, 19083.  , 17889.75,
       11251.  , 17240.5 , 22554.75, 25612.75,  3353.5 , 16911.  ,
       18608.75, 12661.75, 16204.  , 11270.75, 19165.75, 18723.75,
       17258.  , 21228.5 , 16122.25, 15129.75, 14095.  ,  7175.  ,
       20979.  , 17359.75, 19749.5 , 22132.75, 17779.25, 11315.  ,
       20908.  ,  9997.75, 10704.25, 15473.5 , 17114.  ,  4511.  ,
        8832.25, 22088.5 , 21805.  , 15817.75,  8968.75, 10348.75,
       19625.5 , 14422.25,  5191.25,  4225.25,  2491.5 , 13397.75,
       20896.  , 16481.  ,  8778.75, 16377.  , 22401.5 , 16911.  ,
        4499.5 , 23110.25, 17532.5 , 17099.5 ,  7360.75, 21360.75,
        9736.25, 18776.75, 20570.  , 23252.25, 15615.5 , 17480.  ,
       21427.  ,  8782.25, 17334.75, 15079.5 , 15339.25, 16947.  ,
       15514.  , 22902.75,  2718.  , 20650.5 , 18789.  ,  5595.75,
       17911.25, 17737.  , 18090.5 , 18481.5 ,  8911.75, 17618.  ,
       16848.  , 25576.5 , 18866.25, 17612.5 , 17313.75, 17508.  ,
       11193.75, 17447.25,  5404.75, 21112.5 , 17444.5 , 16998.75,
       17035.5 , 15500.  , 16814.75,  8086.5 , 18685.  , 18362.75,
        9748.5 , 16035.5 , 21918.5 , 16006.5 ,  7041.75,  7654.75,
       19077.5 , 15358.  , 17938.25, 24890.5 , 13230.25, 16671.75,
        4039.75, 23729.  , 17775.25,  4161.25, 20701.  , 16182.  ,
       16572.  , 18010.25, 18311.  , 21622.  , 23178.  , 17148.25,
       16021.5 , 15938.25, 18589.  , 23399.25,  9155.25, 10365.25,
       19512.5 , 15683.25,  4978.  ,  4799.  , 23772.75,  4478.25,
       18530.5 ,  4099.75, 24187.5 , 24873.  , 16609.  , 23645.75,
       17558.  , 14249.5 , 18721.75, 22391.  , 19391.75, 22799.  ,
        3383.5 , 18546.  , 23379.  , 18189.  , 19619.25, 19834.  ,
        9957.  ,  5440.5 , 17658.25, 18533.25, 19198.25, 22274.25,
       23782.  , 18191.75, 16650.  , 14845.75, 17789.5 , 19466.  ,
       17706.75, 19709.25, 23766.5 , 17522.  , 24226.5 , 17433.  ,
       23806.  , 15161.  , 17882.5 , 18161.5 , 17566.75, 23821.75,
       20237.75, 15772.25, 12205.5 ,  5887.  , 18355.  , 17025.5 ,
       17665.25,  4977.75,  8869.  , 21692.  , 22762.5 , 14240.5 ,
       16229.25, 17652.5 , 19099.25, 10089.75, 22821.25, 12072.75,
       24901.75, 17315.25,  5346.75, 23579.  , 17687.5 , 18685.  ,
       17667.5 , 18222.25, 22877.75, 22526.5 , 16434.5 , 15265.  ,
       16360.75, 15366.  , 17772.5 , 18548.75,  5737.25, 17137.5 ,
       16314.25, 16867.25, 10051.75, 17532.25, 18124.25,  7835.25,
       22865.  ,  4007.5 , 24591.75, 21816.  ,  4972.25, 24754.5 ,
       20369.75,  4188.25, 14062.5 ,  9997.  , 13059.25, 16745.25,
       16178.75, 22008.5 , 16472.25, 19654.25, 16027.  , 12949.25,
       20347.  , 18999.  , 23608.5 ,  4449.  , 15467.25,  4907.5 ,
       10725.75,  5406.75, 21279.  , 19631.5 , 20076.5 ,  2895.  ,
       11986.  ,  4120.  , 18789.  , 16207.5 ,  4275.25, 16261.25,
       18183.25, 22067.  , 23399.75, 13837.25, 22746.25, 15910.75,
       12409.25, 20806.25,  5600.5 , 20536.5 , 17110.5 , 21512.25,
       22865.  , 25602.25, 16526.75,  4588.  , 20827.75, 21315.25,
       20369.25, 24878.5 , 15127.5 , 20194.75, 20858.25,  6359.  ,
        7360.75,  3074.  , 15639.25,  3844.75,  7467.  , 21754.5 ,
       11212.  , 15548.25,  9830.25, 11020.  , 21386.25, 12797.25,
       19055.5 , 20958.25, 10562.25, 19708.25, 13224.75, 12068.  ,
       24739.5 , 15693.75, 18659.75, 12444.25,  9447.75, 21967.  ,
       15314.75, 23631.75, 19220.75, 18876.5 ,  4162.5 , 17131.25,
        8869.  , 21536.75, 19283.5 , 18139.25, 22526.5 , 14174.  ,
       17268.75, 17114.  , 19614.75,  9442.75, 15752.25, 16513.25,
        4370.25, 17962.5 ,  4977.75,  6843.25, 23645.75, 19554.75,
       24840.75, 22574.5 , 21666.  ,  3220.5 , 18153.25,  2327.25,
       17232.5 ,  6368.  , 23507.  , 21388.75,  2949.75, 16868.75,
       18358.  , 17156.  ,  8088.25, 16585.75, 18776.  , 15987.5 ,
       13842.25,  9087.25, 21282.  , 13749.  , 18281.75,  3707.5 ,
       18450.75, 24866.25,  7096.25, 20683.5 , 12176.  , 25413.25,
        5787.25, 20594.75, 17762.25, 17477.  , 15181.25, 14909.  ,
       13530.25,  3141.25, 16449.  ,  5342.75,  4329.25, 19167.5 ,
        4931.75, 10623.25,  5909.75, 14619.  , 18919.5 , 17602.  ,
       14347.  , 11796.5 , 19362.5 ,  9923.  , 20613.  , 25450.25,
       24617.25,  6162.75,  3664.  ,  4274.25, 18185.75, 11251.  ,
       19505.5 , 10472.25, 17269.75, 16803.  , 16770.5 , 22056.  ,
        9289.25, 16128.  , 17508.75,  3761.75, 19261.5 , 23773.25,
       20074.5 ,  3946.5 , 18688.25, 26059.5 , 14971.75, 19789.25,
       16976.75, 14979.5 , 17609.75, 17320.75, 17784.75,  7615.  ,
       13251.  ,  8572.75, 18453.75, 18221.25, 15414.75, 18255.75,
       17455.5 , 15166.  ,  9103.5 , 10334.  , 18796.25, 15220.5 ,
       21208.5 , 11543.  , 17514.25, 21360.75, 22783.25,  7851.75,
       21754.5 , 16219.75, 12852.75, 24994.75, 16454.75, 10873.75,
        2674.75,  8501.5 , 17449.  , 15217.  , 17648.25,  3844.75,
       17705.75, 18624.  , 10089.75, 21732.5 , 17705.75,  2857.75,
        5120.25, 18694.  , 21342.25, 18696.25, 18141.25,  4416.  ,
       21736.  ,  8705.  ,  8533.75,  4221.  ,  7580.5 , 15036.25,
       17420.5 , 18936.  , 19791.5 ,  5524.75,  3084.75,  6527.5 ,
       12808.25, 21665.5 , 17988.  , 18374.75, 19893.25, 18306.  ,
       23482.75, 23364.  , 24541.  , 17060.25,  3910.25, 23676.  ,
       17918.5 , 13099.75, 22852.75, 17891.75, 14800.  , 19084.5 ,
       20547.25, 23579.  , 16517.75,  4186.5 , 25805.25,  5595.25,
        6061.25,  8254.75, 16934.25, 16580.  , 15669.75, 16889.5 ,
        8010.25,  7262.25, 17370.75, 16306.25, 16622.  , 18799.5 ,
       17247.  , 21515.75, 18365.25, 13777.75, 12146.75, 18993.  ,
       20608.5 , 13530.25, 25298.  , 19347.75, 13638.25, 15249.75,
       21316.5 , 17577.25, 18311.25, 18813.5 ,  7976.5 , 15354.75,
       20838.5 , 10041.75, 18383.25, 19739.75])